docs/n8n-whatsapp-bot.json
{
  "name": "WhatsApp Bot — Horizonte Financeiro",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-horizonte",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook Evolution API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "whatsapp-horizonte"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-fromme",
              "leftValue": "={{ $json.data?.key?.fromMe }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "É mensagem própria?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $json.data || {};\nconst key = data.key || {};\nconst remoteJid = String(key.remoteJid || '');\n\n// Ignora mensagens de grupos\nif (remoteJid.endsWith('@g.us')) return [];\n\n// Extrai número (dígitos para lookup)\nconst phone = remoteJid.replace('@s.whatsapp.net', '').replace(/\\D/g, '');\n\n// Extrai texto da mensagem (vários formatos Evolution API)\nconst msg = data.message || {};\nconst text = (\n  msg.conversation ||\n  msg.extendedTextMessage?.text ||\n  msg.imageMessage?.caption ||\n  msg.videoMessage?.caption ||\n  ''\n).trim();\n\n// Ignora mensagens sem texto (figurinhas, áudio sem transcrição, etc.)\nif (!text) return [];\n\nreturn [{ json: { phone, message: text, remoteJid } }];"
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Extrair telefone e mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=HORIZONTE_API_URL_AQUI/api/whatsapp/bot/mensagem",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer WHATSAPP_BOT_SECRET_AQUI"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.phone, message: $json.message }) }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Processar no Horizonte",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 420]
    },
    {
      "parameters": {
        "jsCode": "// Pega a resposta do backend e o remoteJid do nó de extração\nconst backendResp = $json;\nconst extractedItem = $('Extrair telefone e mensagem').first();\nconst remoteJid = extractedItem?.json?.remoteJid || '';\n\nconst reply = backendResp?.reply;\nif (!reply || !remoteJid) return [];\n\nreturn [{ json: { remoteJid, reply } }];"
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Montar envio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evo.mestredamente.com/message/sendText/Severino",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "bkGLBlu7glY4ICGdxRaZ7APvG6eaKAp0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $json.remoteJid, text: $json.reply, delay: 1000 }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Enviar resposta WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Responder webhook 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 180]
    }
  ],
  "connections": {
    "Webhook Evolution API": {
      "main": [
        [
          { "node": "É mensagem própria?", "type": "main", "index": 0 },
          { "node": "Responder webhook 200", "type": "main", "index": 0 }
        ]
      ]
    },
    "É mensagem própria?": {
      "main": [
        [],
        [
          { "node": "Extrair telefone e mensagem", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extrair telefone e mensagem": {
      "main": [
        [
          { "node": "Processar no Horizonte", "type": "main", "index": 0 }
        ]
      ]
    },
    "Processar no Horizonte": {
      "main": [
        [
          { "node": "Montar envio", "type": "main", "index": 0 }
        ]
      ]
    },
    "Montar envio": {
      "main": [
        [
          { "node": "Enviar resposta WhatsApp", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "horizonte-bot"
  },
  "id": "whatsapp-bot-horizonte",
  "tags": []
}
