docs/n8n-whatsapp-bot.json
{
  "name": "WhatsApp Bot — Horizonte Financeiro",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-horizonte",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook Evolution API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-fromme",
              "leftValue": "={{ $json.data?.key?.fromMe }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "É mensagem própria?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.body || $json;\nconst event = String(payload.event || payload.type || '').toLowerCase();\nif (event && !event.includes('messages')) return [];\n\nconst data = payload.data || payload;\nconst key = data.key || {};\nconst remoteJid = String(key.remoteJid || '');\n\n// Ignora mensagens próprias e grupos\nif (!remoteJid || remoteJid.endsWith('@g.us') || key.fromMe) return [];\n\n// Extrai número (dígitos para lookup)\nconst phone = remoteJid.replace('@s.whatsapp.net', '').replace(/\\D/g, '');\n\n// Extrai texto ou metadados de áudio (vários formatos Evolution API)\nconst msg = data.message || {};\nconst audio = msg.audioMessage || msg.pttMessage || {};\nconst messageId = String(key.id || data.id || '').trim();\nconst text = (\n  msg.conversation ||\n  msg.extendedTextMessage?.text ||\n  msg.imageMessage?.caption ||\n  msg.videoMessage?.caption ||\n  audio.caption ||\n  audio.transcription ||\n  audio.text ||\n  data.transcription ||\n  ''\n).trim();\n\nconst audioUrl = String(audio.url || audio.mediaUrl || audio.media_url || data.mediaUrl || data.audioUrl || data.url || '').trim();\nconst audioBase64 = String(audio.base64 || data.base64 || data.audioBase64 || '').trim();\nconst mimeType = String(audio.mimetype || audio.mimeType || data.mimetype || data.mimeType || 'audio/ogg');\nconst hasAudio = Boolean(audioUrl || audioBase64 || (messageId && (msg.audioMessage || msg.pttMessage)));\n\n// Ignora mensagens sem texto e sem áudio (figurinhas, imagens sem legenda, etc.)\nif (!text && !hasAudio) return [];\n\nreturn [{ json: { phone, message: text, remoteJid, audioUrl, audioBase64, mimeType, messageId, evolutionInstance: data.instance || payload.instance, rawEvolutionData: payload, isAudio: Boolean(!text && hasAudio) } }];"
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Extrair telefone e mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.HORIZONTE_API_URL + '/api/whatsapp/bot/mensagem' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.WHATSAPP_BOT_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ phone: $json.phone, message: $json.message, audioUrl: $json.audioUrl, audioBase64: $json.audioBase64, mimeType: $json.mimeType, messageId: $json.messageId, evolutionInstance: $json.evolutionInstance, rawEvolutionData: $json.rawEvolutionData || {} }) }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Processar no Horizonte",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 420]
    },
    {
      "parameters": {
        "jsCode": "// Se o Horizonte já enviou pela Evolution, não duplicar.\nconst backendResp = $json;\nconst extractedItem = $('Extrair telefone e mensagem').first();\nconst phone = extractedItem?.json?.phone || '';\n\nif (backendResp?.whatsappOutboundSent) return [];\n\nconst textToSend = String(backendResp?.reply || '').trim();\nif (!textToSend || !phone) return [];\n\nreturn [{ json: { phone, reply: textToSend } }];"
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Montar envio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EVOLUTION_API_URL + '/message/sendText/' + $env.EVOLUTION_INSTANCE }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.EVOLUTION_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $json.phone, text: $json.reply, delay: 1000 }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Enviar resposta WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 420]
    }
  ],
  "connections": {
    "Webhook Evolution API": {
      "main": [
        [
          { "node": "É mensagem própria?", "type": "main", "index": 0 }
        ]
      ]
    },
    "É mensagem própria?": {
      "main": [
        [],
        [
          { "node": "Extrair telefone e mensagem", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extrair telefone e mensagem": {
      "main": [
        [
          { "node": "Processar no Horizonte", "type": "main", "index": 0 }
        ]
      ]
    },
    "Processar no Horizonte": {
      "main": [
        [
          { "node": "Montar envio", "type": "main", "index": 0 }
        ]
      ]
    },
    "Montar envio": {
      "main": [
        [
          { "node": "Enviar resposta WhatsApp", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "horizonte-bot"
  },
  "id": "whatsapp-bot-horizonte",
  "tags": []
}
